@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-form {
    @apply relative mx-auto mb-4 mt-8 flex h-12 max-w-sm items-center rounded-md bg-white px-4
        py-4 transition-colors dark:bg-very-dark-desaturated-blue md:max-w-md;
}

.todo-item {
    @apply grid grid-cols-[auto_1fr_auto] items-center gap-4 border-b-[.1px]
        border-dark-grayish-blue bg-white px-4
        py-3 transition-colors first:rounded-t-md last:rounded-b-md last:border-none
        dark:bg-very-dark-desaturated-blue dark:text-very-light-grayish-blue md:last:rounded-none;
}

.todo-checkbox {
    @apply relative h-5 w-5 cursor-pointer overflow-hidden rounded-full border-very-dark-grayish-blue bg-transparent transition-colors;
}

.todo-checkbox:checked {
    @apply bg-gradient-to-br from-cyan-blue to-light-purple;
}

.todo-checkbox::after {
    @apply absolute left-1/2 top-[55%] -translate-x-1/2 translate-y-full transition-transform
        ease-[cubic-bezier(0.175,0.885,0.32,1.275)] content-[url("/images/icon-check.svg")];
}

.todo-checkbox:checked::after {
    @apply -translate-y-1/2;
}

.control-panel {
    @apply relative flex items-center justify-between rounded-md bg-white
        px-4 py-3
        text-xs font-bold text-dark-grayish-blue transition-colors dark:bg-very-dark-desaturated-blue;
}

.filters {
    @apply absolute left-1/2 flex w-full -translate-x-1/2 translate-y-14
        justify-center gap-4 rounded-md bg-white px-4 py-3
        text-sm shadow-all transition-colors dark:bg-very-dark-desaturated-blue
        md:flex md:w-fit md:translate-y-0 md:items-center md:space-x-0
        md:bg-transparent md:text-xs md:shadow-none md:dark:bg-transparent;
}
